{% extends 'ifram.html' %}

{% block content %}

<blockquote class="layui-elem-quote">
    <span class="layui-breadcrumb">
        <a>资产管理</a>
        <a href= {% url 'cmdb:HostList' %}><cite>主机列表</cite></a>
        <a href="">添加主机</a>
    </span>
</blockquote>
<hr>
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">Linux</li>
        <li>Windows</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <p class="site-demo-text"><b>支持系统列表：</b></p>
            <br> 
            <p class="site-demo-text">Centos 5/6/7、Redhat 5/6/7</p>
            <br>    
            <p class="site-demo-text"><b>提供一键式安装方式，请复制如下命令，通过左上角Web终端登录服务器执行：</b></p>
            <br> 
            <blockquote class="layui-elem-quote layui-quote-nm">
                curl -L {{url}}{{linux_script}} | bash
            </blockquote> 
            <p class="site-demo-text">安装成功后，即可在主机管理页面中查看到该主机。</p>
        </div>
        <div class="layui-tab-item">
            <p class="site-demo-text"><b>支持系统列表：</b></p>
            <br> 
            <p class="site-demo-text"> Windows XP/7/8/10、Windows Server 2003/2008/2012</p>
            <br>    
            <p class="site-demo-text">提供一键式安装方式，请点击下载保存 <a href="{{url}}{{linux_script}}" style="color: #01AAED">install-minion.vbs</a> 并双击或命令行执行安装（需Administrator权限）</p>
            <br> 
            <p class="site-demo-text">安装成功后，即可在主机管理页面中查看到该主机。</p>
        </div>
    </div>
</div> 

{% endblock content %}

{% block script %}

        
{% endblock script %}
    

