{% extends 'ifram.html' %}

{% block content %}

<blockquote class="layui-elem-quote">
    <span class="layui-breadcrumb">
        <a>资产管理</a>
        <a href= {% url 'cmdb:HostList' %}><cite>主机列表</cite></a>
    </span>
</blockquote>

<div class="layui-inline">
    <div class="layui-input-inline">
        <input type="text" id="keyword" name="keyword" placeholder="根据主机名、IP搜索" autocomplete="off" class="layui-input" style="width: 192px">
    </div>
</div>

<button class="layui-btn" id="show_form">高级搜索</button>
<a href="{% url 'cmdb:HostAdd' %}"><button class="layui-btn">添加主机</button></a>
<button class="layui-btn layui-btn-disabled dis_or_able" id='patch_edit' onclick="patch_edit()">批量编辑</button>
<a href="{% url 'cmdb:setTable' %}">
    <button class="layui-btn layui-btn-primary hover" style="float:right; padding: 0px 7px;" id="setting"><i class="layui-icon">&#xe614;</i></button>
</a>
<a href="{% url 'cmdb:HostImport' %}">
    <button class="layui-btn layui-btn-primary" id="import">导入</button>
</a>
<form action="{% url 'cmdb:HostExport' %}" method="post" id="export_hosts" style="display: inline;">{% csrf_token %}
    <input type="text" name="ids" id="ids" hidden>
    <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled dis_or_able" onclick="export_hosts()" id="export">导出</button>  
</form>
<hr>
<form class="layui-form" action='' method="" style="display: none" id="search_form">
    <div class="layui-row">
        {% for item in items %}
            {% if item.optional_value %}
            <div class="layui-col-xs6" style="margin-bottom: 5px">
                <div class="layui-form-item">
                    <label class="layui-form-label">{{item.name}}</label>
                    <div class="layui-input-inline">
                            <select name="{{item.code}}-{{item.value_type}}">
                                    <option value=""></option>
                                    {% for value in item.get_optional_value  %}
                                        <option value="{{value}}">{{value}}</option>
                                    {% endfor %}
                            </select>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="layui-col-xs6" style="margin-bottom: 5px">
                    <div class="layui-form-item">
                        <label class="layui-form-label">{{item.name}}</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="{{item.code}}-{{item.value_type}}">
                        </div>
                    </div>
                </div>
            {% endif %}
            
        {% endfor %}
    </div>

    <div class="layui-row">
        <button class="layui-btn" lay-submit="" lay-filter="demo1">搜索</button>
        <button type="reset" class="layui-btn layui-btn-primary" id="hidden_form">取消</button>
    </div>
</form>


<table class="layui-table" lay-data="{url:'/cmdb/host/listAPI/', page:true, id:'idTest'}" lay-filter="demo">
    <thead>
      <tr>
        <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
        {% for item in category.ciproperty_set.all %}
            
            {% if item.show_in_table %}
                <th lay-data="{field: '{{item.code}}', minWidth:180}">{{item.name}}</th>
            {% endif %}
                        
        {% endfor %}
        <th lay-data="{fixed: 'right', width:160, align:'center', toolbar: '#barDemo'}">操作</th>

      </tr>
    </thead>
</table>

{% endblock content %}

{% block script %}

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>

<script>
    var $ = layui.$;
    var table = layui.table;

    table.on('checkbox(demo)', function(obj){
        //console.log(obj)
        var checkStatus = table.checkStatus('idTest'); //test即为基础参数id对应的值
        if (checkStatus.data.length > 0){
            $(".dis_or_able").removeClass("layui-btn-disabled");
        } else {
            $(".dis_or_able").addClass("layui-btn-disabled");
        }
        //console.log(checkStatus.data) //获取选中行的数据
        //console.log(checkStatus.data.length) //获取选中行数量，可作为是否有选中行的条件
        //console.log(checkStatus.isAll ) //表格是否全选

        });



    //监听工具条
    table.on('tool(demo)', function(obj){
        var data = obj.data;
        //console.log(data);
        if(obj.event === 'del'){
            layer.confirm('确定删除？', function(index){
                $.get('/cmdb/host/delete/' + data.server_id, function(res){
                    if (res.code) {
                        obj.del();
                        layer.msg(res.msg, {icon: 1});
                    }
                    else {
                        layer.alert('错误信息:'+ res.msg);
                    }
                });
                layer.close(index);
            });
        } else if(obj.event === 'view'){
            window.location.href = '/cmdb/host/detail/' + data.server_id;
        } else if(obj.event === 'edit'){
            window.location.href = '/cmdb/host/update/' + data.server_id;
        }
    });

    var active = {
            reload: function(){
                var keyword = $('#keyword');
            
                //执行重载
                table.reload('idTest', {
                    url: '/cmdb/host/listAPI',
                    where: {
                    "keyword": keyword.val()
                    }
                });
            }
        };

    $('#keyword').bind('keydown', function(event){
        if (event.keyCode == '13'){
            active['reload'].call(this);
        }
    });

    var layer = layui.layer;
    var tipsi;
    $(".hover").hover(function(){
       tipsi = layer.tips('列表设置',this,{time:0});
     },function(){
          layer.close(tipsi);
    });

    $("#import").hover(function(){
       tipsi = layer.tips('请先导出一份作为模板,按模板填写信息后导入；注意，导出模板时：1. 请务必包含服务器ID字段，字段可通过左侧设置按钮设置；2.导出后请务必不要更改表头',this,{time:0});
     },function(){
          layer.close(tipsi);
    });

    $("#export").hover(function(){
       tipsi = layer.tips('可通过左侧设置按钮设置导出的字段，格式是csv，可通过excel打开。',this,{time:0});
     },function(){
          layer.close(tipsi);
    });

    function patch_edit() {
        layer.open({
            type: 2,
            title: ' 批量编辑主机信息',
            //shadeClose: true,
            //shade: true,
            maxmin: true, //开启最大化最小化按钮
            area: ['50%', '35%'],
            content: "{% url 'cmdb:HostPatchUpdate' %}", 
            //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
            success: function(layero, index){
                var body = layer.getChildFrame('body',index);//建立父子联系
                var iframeWin = window[layero.find('iframe')[0]['name']];
                var checkStatus = table.checkStatus('idTest');
                //console.log(checkStatus.data)
                var hosts = [];
                for (x in checkStatus.data) {
                    hosts.push(checkStatus.data[x].server_id);
                }
                //console.log(hosts);
                var inputList = body.find('input');
                //console.log(inputList[0]);
                $(inputList[3]).val(hosts);
            },
            end: function() {
                window.location.reload();
            }
        });
    }

    function export_hosts() {
        var hosts = [];
        var checkStatus = table.checkStatus('idTest');
        for (x in checkStatus.data) {
            hosts.push(checkStatus.data[x].server_id);
        }
        //console.log(hosts);
        $("input[name='ids']").val(hosts);
        $("#export_hosts").submit();
    }

    $('#show_form').click(function(){
        document.getElementById("search_form").style.display="inline";
    });

    $('#hidden_form').click(function(){
        document.getElementById("search_form").style.display="none";
        window.location.reload();
    });

    var form = layui.form;
    form.on('submit(demo1)', function(data){
        // console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}

        //执行重载
        table.reload('idTest', {
            url: '/cmdb/host/listAPI',
            where: data.field
        });
        return false;
    });

</script>
        
{% endblock script %}
    

