{% extends 'ifram.html' %}

{% block content %}

<blockquote class="layui-elem-quote">
    <span class="layui-breadcrumb">
        <a>权限管理</a>
        <a href= {% url 'admins:GroupList' %}><cite>角色管理</cite></a>
    </span>
</blockquote>

<form class="layui-form layui-inline" action="">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" id="search_filter" value="{{search_filter}}" placeholder="根据角色或用户名搜索" autocomplete="off" class="layui-input" style="width: 192px">
        </div>
    </div>
</form>
<button class="layui-btn" id="search">搜索</button>
<a href= {% url 'admins:RoleCreate' %}><button class="layui-btn">新建角色</button></a>
<hr>
<div class="layui-form">
        <table class="layui-table">
          <colgroup>
            <col width="150">
            <col>
            <col width="120">
          </colgroup>
          <thead>
            <tr>
              <th>角色</th>
              <th>用户</th>
              <th>操作</th>
            </tr> 
          </thead>
          <tbody>
          {% for role in roles  %}
            <tr id="{{role.id}}">
              <td>{{role.name}} ({{role.users.count}})</td>
              <td> 
                    {% for user in role.users.all %}
                        <button class="layui-btn layui-btn-xs layui-btn-radius delete_user" id="{{role.id}}-{{user.id}}" data-uid="{{user.id}}" data-rid="{{role.id}}">{{user.username}} <i class="layui-icon">&#xe640;</i></button>
                    {% endfor %}
              </td>
              <td>
                    <a href="{% url 'admins:RoleUpdate' role.id %}">
                        <button class="layui-btn layui-btn-xs edit_role">编辑</i></button>
                    </a>
                    <button class="layui-btn layui-btn-xs layui-btn-danger delete_role" data-rid="{{role.id}}">删除</i></button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock content %}

{% block script %}

<script>
    var $ = layui.$;
    
    $('#search').on('click', function(){
        var search_filter = $('#search_filter');
        window.location.href = "/admins/role/search/?search_filter=" + search_filter.val();
    });

    $('.delete_user').on('click', function(){
        var uid = $(this).data('uid');
        var rid = $(this).data('rid');
        $.get("/admins/role/" + rid + "/delete_user/" + uid, function(res){
            if (res.code){
                $('#' + rid + '-' + uid).remove();
                layer.msg(res.msg, {icon: 1});
            }
            else {
                layer.alert('错误信息:'+ res.msg);
            }
         });
    });

    $('.delete_role').on('click', function(){
        var rid = $(this).data('rid');
        layer.confirm('确定删除？', function(index){
            $.get('/admins/role/' + rid + '/delete', function(res){
                if (res.code) {
                    $('#'+rid).remove();
                    layer.msg(res.msg, {icon: 1});
                }
                else {
                    layer.alert('错误信息:'+ res.msg);
                }
            });
            layer.close(index);
        });
    });
</script>
        
{% endblock script %}