{% extends 'ifram.html' %}

{% block content %}

<blockquote class="layui-elem-quote">
    <span class="layui-breadcrumb">
        <a>作业平台</a>
        <a href="{% url 'ops:PushFile' %}"><cite>文件传输</cite></a>
    </span>
</blockquote>

<form class="layui-form" action="{% url 'ops:PushFile' %}" method="post" id="push_file">{% csrf_token %}
    <div class="layui-row">
        <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
            <div class="layui-form-item">
                <label class="layui-form-label">文件 <span style="color: #FF5722">*</span></label>
                <div class="layui-input-block">
                    <input type="text" name="filename" id="file" lay-verify="required" placeholder="请输入文件名(分发前请确认文件已上传)" class="layui-input" value="{{filename}}">
                </div>
            </div>
        </div>
        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>选择文件
            </button>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">远端路径 <span style="color: #FF5722">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="remote_path" lay-verify="required" placeholder="请输入完整路径，如：/root/test_file.sh" class="layui-input" value="{{remote_path}}">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">主机 <span style="color: #FF5722">*</span></label>
        <div class="layui-input-block">
        <input type="text" name="hosts" id="hosts" lay-verify="required" placeholder="请输入内容主机salt客户端id, 或者点击下方按钮筛选主机" class="layui-input" value="{{ hosts }}">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">开始分发</button>
            <button class="layui-btn" type="button" onclick="select_host()">筛选主机</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<hr>
{% if res %}
    {% if res.code %}
        {% for minion, return in res.result.items %}
<pre class="layui-code" style="background: black; color:white; height: 100%;">
<b style="color:aqua">{{minion}}:</b>
{{return}}
</pre>
        {% endfor %}
    {% else %}
<pre class="layui-code" style="background: black;color:white;height:100%;">
<b style="color:rgb(255, 0, 0)">{{res.msg}}</b>
</pre>   
    {% endif %}
{% endif %}


{% endblock content %}

{% block script %}

<script>
    var $ = layui.$;
    var layer = layui.layer;

    function select_host() {
        layer.open({
            type: 2,
            title: '筛选主机',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['90%', '60%'],
            content: "{% url 'ops:SelectHost' %}"  //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
        });
        return false; 
    }

    var upload = layui.upload;
    //执行实例
    var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
    var uploadInst = upload.render({
        elem: '#test1' //绑定元素
        ,url: "{% url 'ops:UploadFile' %}" //上传接口
        ,data: {'csrfmiddlewaretoken': csrfmiddlewaretoken, 'file_type': 'other'}
        ,accept: 'file'
        ,exts: 'py|sh|zip|rar|tar|tar.gz|gz|txt|log|xml|yaml|conf|ini|ps1'
        ,done: function(res, index, upload){
        //上传完毕回调
            if (res.code) {
                $("#file").val(res.filename);
                layer.msg(res.msg);
            } else {
                layer.alert(res.msg);
            }
        }
        ,error: function(){
        //请求异常回调
            layer.msg('fail');
        }
    });

    var form = layui.form;
    form.on('submit(demo1)', function(data){
        //console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
        //var index = layer.load(1);
        $("#push_file").submit();
        return false;
     });

</script>
        
{% endblock script %}
    

