{% extends 'ifram.html' %}

{% block content %}

<blockquote class="layui-elem-quote">
    <span class="layui-breadcrumb">
        <a>账户管理</a>
        <a href= {% url 'admins:UserChangePd' request.user.id %}><cite>安全设置</cite></a>
    </span>
</blockquote>
<hr>
<form class="layui-form" action="" method="">{% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码 <span style="color: #FF5722">*</span></label>
            <div class="layui-input-inline">
                <input type="password" name="old_password" lay-verify="required|pass" placeholder="请输入当前密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码 <span style="color: #FF5722">*</span></label>
            <div class="layui-input-inline">
                <input type="password" name="new_password" lay-verify="required|pass" placeholder="请输入6到12位新密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码 <span style="color: #FF5722">*</span></label>
            <div class="layui-input-inline">
                <input type="password" name="new_password1" lay-verify="required|pass" placeholder="请再次输入新密码" autocomplete="off" class="layui-input">
            </div>
        </div>
    
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="change_pass">提交更新</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form>

     

{% endblock content %}

{% block script %}
<script>
    var form = layui.form;
    form.on('submit(change_pass)', function(data){
        //console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
        //console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
        //console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
        var $ = layui.$;
        data.field['csrfmiddlewaretoken'] = $("input[name='csrfmiddlewaretoken']").val();
        var index = layer.load(1);
        $.post("{% url 'admins:UserChangePd' request.user.id %}", data.field, function(res){
            if (res.code){
                layer.msg(res.msg, {icon: 1});
            }
            else {
                layer.alert('错误信息:'+ res.msg);
            }
            layer.close(index);
        });
        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
</script>
{% endblock script %}

