{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
  {% block css %} 
  
  {% endblock css %}
</head>
<body>
    
    {% block content %}
    
    {% endblock content %}
               
    <script src="{% static 'layui/layui.all.js' %}"></script>         

    {% block script %}
    
    {% endblock script %}

</body>
</html>