{% extends 'ifram.html' %}

{% block content %}

<blockquote class="layui-elem-quote">
    <span class="layui-breadcrumb">
        <a>作业平台</a>
        <a href="{% url 'ops:ScriptRun' script.id %}"><cite>脚本执行</cite></a>
    </span>
</blockquote>

<form class="layui-form" action="{% url 'ops:ScriptRun' script.id %}" method="post">{% csrf_token %}
    <div class="layui-form-item">
        <label class="layui-form-label">脚本 <span style="color: #FF5722">*</span></label>
        <div class="layui-input-block">
        <input type="text" name="script" lay-verify="required" placeholder="请输入要执行的脚本名" class="layui-input" value="{{script.code}}" disabled>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">主机 <span style="color: #FF5722">*</span></label>
        <div class="layui-input-block">
        <input type="text" name="hosts" id="hosts" lay-verify="required" placeholder="请输入内容主机salt客户端id, 或者点击下方按钮筛选主机" class="layui-input" value="{{ hosts }}">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">开始执行</button>
            <button class="layui-btn" type="button" onclick="select_host()">筛选主机</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<hr>
{% if res %}
    {% if res.code %}
        {% for minion, return in res.result.items %}
<pre class="layui-code" style="background: black; color:white; height: 100%;">
<b style="color:aqua">{{minion}}:</b>
{{return.stdout}}
</pre>
        {% endfor %}
    {% else %}
<pre class="layui-code" style="background: black;color:white;height:100%;">
<b style="color:rgb(255, 0, 0)">{{res.msg}}</b>
</pre>   
    {% endif %}
{% endif %}


{% endblock content %}

{% block script %}

<script>
    var $ = layui.$;
    var layer = layui.layer;
    function select_host() {
        layer.open({
            type: 2,
            title: '筛选主机',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['90%', '60%'],
            content: "{% url 'ops:SelectHost' %}"  //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
        });
        return false; 
    }

    // var form = layui.form;
    // form.on('submit(demo1)', function(data){
    //     //console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
    //     var index = layer.load(1);
    //     //layer.close(index);
    //     return false;
    //  });

</script>
        
{% endblock script %}
    

