{% extends 'ifram.html' %}

{% block content %}

<blockquote class="layui-elem-quote">
    <span class="layui-breadcrumb">
        <a>作业平台</a>
        <a href="{% url 'ops:ScriptList' %}"><cite>脚本管理</cite></a>
    </span>
</blockquote>

{% csrf_token %}
<div class="layui-inline">
    <div class="layui-input-inline">
        <input type="text" id="keyword" name="keyword" placeholder="脚本名、脚本别名搜索脚本" autocomplete="off" class="layui-input" style="width: 300px">
    </div>
</div>
<button type="button" class="layui-btn" id="test1"><i class="layui-icon">&#xe67c;</i>上传脚本</button>
<hr>
<table class="layui-hide" id="demo" lay-filter="demo"></table>

{% endblock content %}

{% block script %}

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="run">执行</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>

<script>
    var table = layui.table;
    var layer = layui.layer;
    var tableIns = table.render({
        elem: '#demo'
        ,url: '/ops/script/listAPI' //数据接口
        ,cols: [[
        {field: 'code', title: '脚本名', width:150, fixed: true}
        ,{field: 'name', title: '脚本别名', width:170, sort: true}
        ,{field: 'created_by', title: '创建者', width:120} 
        ,{field: 'create_time', title: '创建时间', minWidth: 150}
        ,{field: 'update_time', title: '上次修改时间', minWidth: 150}
        ,{field: 'comment', title: '备注', minWidth:80}
        ,{title: '操作', fixed: 'right', width:180, align:'center', toolbar: '#barDemo'}
        ]]
        ,page: true
    });

    //监听工具条
    table.on('tool(demo)', function(obj){
        var data = obj.data;
        if (obj.event === 'view'){
            layer.open({
                type: 2,
                title: data.code,
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['90%', '60%'],
                content: "/ops/script/edit/" + data.id
            });
        } else if (obj.event === 'run') {
            window.location.href = '/ops/script/run/' + data.id;
        } else if (obj.event === 'delete') {
            layer.confirm('确定删除？', function(index){
                $.get('/ops/file/delete/' + data.id, function(res){
                    if (res.code) {
                        obj.del();
                        layer.msg(res.msg, {icon: 1});
                    }
                    else {
                        layer.alert('错误信息:'+ res.msg);
                    }
                });
                layer.close(index);
            });
        }
    });

    var $ = layui.$;
    function tableReload() {
        var keyword = $("#keyword").val();
        //console.log(keyword)
        //执行重载
        tableIns.reload({
            url: '/ops/script/listAPI',
            where: {'keyword': keyword}
        });
    }

    $('#keyword').bind('keydown', function(event){
        if (event.keyCode == '13'){
            tableReload();
        }
    });

    var upload = layui.upload;
    //执行实例
    var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
    var uploadInst = upload.render({
        elem: '#test1' //绑定元素
        ,url: "{% url 'ops:UploadFile' %}" //上传接口
        ,data: {'csrfmiddlewaretoken': csrfmiddlewaretoken, 'file_type': 'script'}
        ,accept: 'file'
        ,exts: 'py|sh|zip|rar|tar|tar.gz|gz|txt|log|xml|yaml|conf|ini|bat|vbs|ps1|ps2'
        ,done: function(res, index, upload){
        //上传完毕回调
            if (res.code) {
                layer.msg(res.msg);
                tableReload();
            } else {
                layer.alert(res.msg);
            }
        }
        ,error: function(){
        //请求异常回调
            layer.msg('fail');
        }
    });
</script>
        
{% endblock script %}
    

